/* Header and Navigation Styles */
header {
    background-color: #111;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#title-logo-container {
    display: flex;
    align-items: center;
}

#site-title {
    font-family: 'Press Start 2P', cursive;
    color: #00FF00;
    text-shadow: 0 0 15px #00FF00;
    font-size: 2em;
    margin: 0;
    padding-right: 10px;
    line-height: 1; /* Adjust line height to stack text */
}

#nav-logo {
    height: 7em;
}

/* New Container for Navigation Links and Terminal */
nav {
    display: flex;
    justify-content: center; /* Center the navigation links */
    flex: 1;
    position: relative;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 14px;
    position: relative;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4em;
    text-shadow: 0 0 5px #FFFFFF;
    position: relative;
}

nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -5px;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Terminal Module Styles */
#terminal {
    position: absolute;
    top: 10px;
    right: 0; /* Align it to the right edge */
    padding: 10px;
    background-color: #000;
    border: 2px solid #39FF14;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #39FF14;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #39FF14;
    width: 160px;  /* Increased width for more rectangular shape */
    height: auto;
    text-align: right;
}

#live-quotes p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between; /* Ensure space between coin name and price */
}

#live-quotes p span {
    flex: 1;
    text-align: right; /* Align price to the right */
    margin-left: 10px; /* Increase space between symbol and price */
}
